<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>form submit</title>
  </head>
  <body style="background-color: rgb(94, 93, 93); color: #fff">
    <p>form successfully submitted.</p>
    <p><%= previewData.userName %> thanks for your response.</p>
    <p>Your roll number is <%= previewData.roll %>.</p>

    <ol>
      <% previewData.fileArr.forEach((elem)=>{ %>

      <li>
        <%= elem.fileName%>
        <a
          id="previewLink"
          href="/getFile/<%= elem.filePath %>"
          target="blank"
          style="color: #fff !important; margin-bottom: 10px; display: block"
          >Preview</a
        >
        <a
          id="downloadLink"
          href="/getFile/<%= elem.filePath%>"
          target="blank"
          style="color: #fff !important"
          >Download</a
        >
      </li>
      <%}) %>
    </ol>
  </body>
</html>
